*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
.tm*
~*

/COPYING
/INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/gnome-mime-data-2.0.pc
/gnome-mime-data-zip
/gnome-mime-data.spec
/gnome-vfs.keys
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/missing
/mkinstalldirs
/stamp-h1
